@model BarHotelManagemet.Models.Bill

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TableNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillAmount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
